﻿@model ICollection<PhotoContest.Models.PictureFrontViewModel>
@{ ViewData["Title"] = "Home Page"; }

@if (!User.IsInRole("Admin")&&!User.IsInRole("User"))
 {
    <div class="text-center">
        <a class="button1" onclick="window.location.href='Identity/Account/Login'">Explore In A Flash</a>
  </div>
}







    <style>
        body {
            background-image: url('https://images.wallpaperscraft.com/image/ocean_view_from_above_surf_125922_1440x900.jpg');
    background-repeat: no-repeat;
            background-attachment: fixed;
    background-size: cover;
        }
    </style>
    @*Top 3 Rated Beers of the month*@
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="@item.Url" class="card-img-top" alt="default-beer-picture">
                    <div class="card-body">
                        <h3 class="card-title"><b>@item.Name</b></h3>
                        <h4 class="card-title"> @item.Story</h4>
                        <p class="card-text"><b>@item.Name</b> is one of our top rated pictures </p>
                        <a class="btn btn-primary btn-sm" asp-controller="Pictures" asp-action="Details" asp-route-id="@item.Id">View picture</a>
                    </div>
                </div>
            </div>}
    </div>