﻿@model PhotoContest.Models.PictureFrontViewModel
@using Microsoft.AspNetCore.Identity
@using PhotoContest.Data.Models
@{
    ViewData["Title"] = "Picture details";

    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="section mt-5">
    <div class="container d-flex h-100 flex-column">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-5">
                    <div>
                        <img alt="Picture" class="img-fluid" src="@Model.Url" />
                    </div>
                </div>
                <div class="col-md-7 d-flex mt-2">
                    <div>
                        <div class="container">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    Title
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-2">
                                    Story
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Story)
                                </dd>
                                <dt class="col-sm-2">
                                    Category name
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Contest.ContestCategoryName)
                                </dd>

                            </dl>
                        </div>
                        <hr />

                        <div class="container mt-5">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="rating-block">
                                        <h6>Average jury score</h6>
                                        <h2 class="bold padding-bottom-7">@Model.PictureReviews.Select(x => x.Score).Sum().ToString()<small>/ 10</small></h2>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row m-md-1">
                                <div>
                                    <a class="btn btn-secondary btn-sm" asp-controller="Home" asp-action="Index"> Back to top rated</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

