﻿@model ContestCreateFrontViewModel

@{
    var categories = new SelectList(ViewBag.Categories, "Id", "Name");
    var types = new SelectList(ViewBag.ContestTypes, "Id", "Name");
}

<link rel="stylesheet" href="~/css/Identity/Login.css" />
<div style="margin: 15vh 0rem 0rem 0rem">

    <div class="wrapper fadeInDown">
        <div id="formContent" style="max-width: 60rem !important">
            <form id="account" method="post" enctype="multipart/form-data">
                <div class="fadeIn first" style="margin-top: 1rem;">
                    <h5 style="display: inline-block">Create Contest</h5>
                </div>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control fadeIn second" placeholder="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group fadeIn second">
                    <label asp-for="ContestCategoryId"></label>
                    <select asp-for="ContestCategoryId" asp-items="categories" class="form-control">
                    </select>
                    <span asp-validation-for="@Model.ContestCategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Foreground_Url"></label>
                    <input asp-for="Foreground_Url" class="form-control fadeIn second" placeholder="Cover Url" />
                    <span asp-validation-for="Foreground_Url" class="text-danger"></span>
                </div>
                <div class="form-group fadeIn second">
                    <label asp-for="ContestStateId"></label>
                    <select asp-for="ContestStateId" asp-items="types" class="form-control">
                    </select>
                    <span asp-validation-for="@Model.ContestStateId" class="text-danger"></span>
                </div>
                <h5>Phase I</h5>
                <div class="form-group fadeIn second">
                    <label asp-for="Phases.PhaseOne_EndDate"></label>
                    <input asp-for="Phases.PhaseOne_EndDate" class="form-control">
                    <span asp-validation-for="@Model.Phases.PhaseOne_EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h5>Phase Two Duration</h5>
                    <p>Drag the slider to display the current value.</p>
                    <div class="slidecontainer">
                        <input asp-for="Phases.PhaseTwo_Duration" type="range" min="1" max="24" value="1" class="slider" style="width: 100%" id="myRange">
                        <p>Hours: <span id="demo"></span></p>
                    </div>
                </div>
                <div class="form-group formFooter">
                    <div class="form-group">
                        <button type="submit" asp-action="Create" formmethod="post" class="btn btn-primary fadeIn fourth">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/slider.js"></script>



