﻿@model PhotoContest.Models.ContestFrontViewModel
@using Microsoft.AspNetCore.Identity
@using PhotoContest.Data.Models
@{
    ViewData["Title"] = "Contest details";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject SignInManager<User> SignInManager

<section class="section mt-5">
    <div class="container d-flex h-100 flex-column">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-5">
                    <div>
                        <img alt="Picture" class="img-fluid" src="@Model.Foreground_Url" />
                    </div>
                </div>
                <div class="col-md-7 d-flex mt-2">
                    <div>
                        <div class="container">
                            <dl class="row">
                                <dt class="col-sm-10">
                                    Title
                                </dt>
                                <dd class="col-sm-10">
                                    @Model.Title
                                </dd>
                                <dt class="col-sm-10">
                                    Contest Category
                                </dt>
                                <dd class="col-sm-10">
                                    @Model.ContestCategory.Name
                                </dd>
                                @if (Model.PhaseEndTime != DateTime.MaxValue)
                                {
                                    <dt class="col-sm-10">
                                        Phase Start Time
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Model.PhaseStartTime
                                    </dd>

                                    <dt class="col-sm-10">
                                        Phase End Time
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Model.PhaseEndTime
                                    </dd>
                                }
                                else
                                {
                                    <dt class="col-sm-10">
                                       Contest Ended on:
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Model.PhaseStartTime
                                    </dd>
                                }

                            </dl>
                        </div>
                        <hr />

                        <div class="container mt-5">
                            <div class="row">                                                       
                            </div>
                            <hr />
                            <div class="row m-md-1">
                                <div>
                                    <a class="btn btn-secondary btn-sm" asp-controller="Home" asp-action="Index"> Back to dashboard</a>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@if (Model.ContestCategoryPhaseDescription == "Phase Two")
{
    <div class="row">
        @foreach (var item in Model.Pictures)
        {
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="@item.Url" class="card-img-top" alt="default-beer-picture">
                    <div class="card-body">
                        <h3 class="card-title"><b>@item.Name</b></h3>
                        <h4 class="card-title"> @item.Story</h4>
                      

                        @if (item.IsReviewable && User.IsInRole("Admin"))
                        {
                            <button type="button" class="collapsible">Give Review</button>
                            <div class="formContent">
                                <form asp-controller="Review" asp-action="CreateReview" method="post">
                                    <input type="hidden" name="PictureId" value="@item.Id" />

                                    <input type="text" id="@item.PictureReviews.Select(x=>x.Comment)" name=comment><br><br>
                                    

                                    <input type="checkbox" onclick="myFunction(@item.PictureReviews.Select(x=>x.Id)" id="myCheck (@item.PictureReviews.Select(x=>x.Id)" name="DoesntFitsCategoryCheckBox" value="Doesn't fit category">

                                    <select name="score" id="@item.PictureReviews.Select(x=>x.Id).ToString()">
                                        <option value="0">Select a rating</option>
                                        <option value="10">10</option>
                                        <option value="9">9</option>
                                        <option value="8">8</option>
                                        <option value="7">7</option>
                                        <option value="6">6</option>
                                        <option value="5">5</option>
                                        <option value="4">4</option>
                                        <option value="3">3</option>
                                        <option value="2">2</option>
                                        <option value="1">1</option>
                                    </select>

                                    <button type="submit">Give Review</button>
                                </form>
                                @*<partial name="_PartialName" />*@
                            </div>
                        }
                       
                    </div>
                </div>
            </div>
        }
    </div>
}

<style>
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .formContent {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
</style>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    function myFunction(id) {
        console.log(id)
        var checkBox = document.getElementById("myCheck " + id);
        var text = document.getElementById(id);
        if (checkBox.checked == true) {
            text.disabled = true;
            text[0].selected = 'selected'
        } else {
            text.disabled = false;
        }
    }
</script>