﻿@model IEnumerable<PhotoContest.Models.UserViewModel>
@using Microsoft.AspNetCore.Identity
@using PhotoContest.Data.Models
@{
    ViewData["Title"] = "Picture details";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject SignInManager<User> SignInManager
@*@if ( Model.PictureReviewFront.Score== null)
    {
        Model.PictureReviewFront.Score = 0.0;
    }*@
 


<table class="table">
    <thead class="thead-light">
        <tr>
            <th>E-Mail</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.Email</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
            </tr>
        </tbody>
    }
</table>