﻿@model EnrollViewModel

<div class="contact-form-area">
    <div class="container-fluid">
        <form asp-action="Enroll" asp-controller="Dashboard" method="post" enctype="multipart/form-data" onsubmit="return EditAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ContestId" value="@Model.ContestId" hidden />
            <div class="row">
                <div class="col-12 col-md-4">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Picture Title">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-4">
                    <textarea asp-for="Story" class="form-control" placeholder="Picture Description">
                    </textarea>
                    <span asp-validation-for="Story" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-4">
                    <textarea asp-for="Url" class="form-control" placeholder="Picture Url">
                    </textarea>
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn studio-btn mt-3">
                        <img src="~/asset/photo.png" alt="" width="42" height="42">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

