﻿@model IEnumerable<PhotoContest.Models.ContestFrontViewModel>
@using Microsoft.AspNetCore.Identity

<style>
body { background-image: url('https://images.unsplash.com/photo-1542038784456-1ea8e935640e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; }
</style>

<div class="text-center">
    <h1 class="display-5">Welcome to <img src="/asset/photo.png" height="62" width="62"></h1>
    <h1 class="display-3">In A Flash</h1>
   
</div>

@if (User.IsInRole("Admin"))
{

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                @Html.TextBox("search", ViewBag.Search as string)
                <input type="submit" value="Search" class="btn btn-primary btn-sm" />
                <a class="btn btn-outline-secondary btn-sm" asp-action="Index"> Back to full list</a>
            </p>
        </div>
    </form>
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="@item.Foreground_Url" class="card-img-top" alt="default-beer-picture">
                <div class="card-body">
                    <h3 class="card-title"><b>@item.Title</b></h3>
                    <h3 class="card-title"><b>@item.ContestStateName</b></h3>
                    <h3 class="card-title"><b>@item.ContestCategoryPhaseDescription</b></h3>
                    <a class="btn btn-primary btn-sm" asp-controller="Contests" asp-action="Details" asp-route-id="@item.Id">View contest</a>
                    @inject UserManager<User> UserManager
                    @inject SignInManager<User> SignInManager
                    @if (User.IsInRole("User") && item.ContestCategoryPhaseDescription == "Phase One")
                    {
                        <a class="btn btn-primary btn-sm" asp-controller="Dashboard" asp-action="Enroll" asp-route-contestid="@item.Id">Enroll</a>
                    }
                </div>
            </div>
        </div>

    }
</div>
